
  @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,300&display=swap');
*
{
    font-family: 'Exo 2', sans-serif;
    padding: 0px;
    margin: 0px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000814;
    padding: 20px;
    color: white;

}
ul
{
    display: flex;

}
ul li
{
    padding: 0 15px ;
    list-style: none;
}
ul li a{
    color: white;
    text-decoration: none;
    
}
ul li a:hover
{
    color: rgb(190, 185, 185);
}
.container
{
    max-width: 80vh;
    margin: auto;
   
   
}
main
{
    min-height: 80vh;
    background-color: #CAEDFF ;
    padding: 15px;
    background-image: url(bg.jpg);
    background-size: cover;
}
footer
{
    font-size: 15px;
    background-color: #000814 ;
    color: white;
    display: flex;
    padding: 15px;
    justify-content: center;
}
@media only screen and (max-width: 500px)
{
    .container
    {
        font-size: 15px;
    }
    nav
    {
        flex-direction: column;
    }
    .logo 
    {
        padding: 6px 0 ;
        font-size: 20px;
    }

}
.container h1
{
    padding: 12px 0;
}
.logo img
{
    width: 22px;
    padding: 0 3px;

}
.btn
{
    background-color: black ;
    padding: 8px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover
{
    background-color: rgb(39, 38, 38);
}
input[type='text']{
    min-width: 23vw;
    padding: 3px 12px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 17px;
}
#resultcont div::first-letter{
    text-transform: uppercase;
}
.logo
{
    font-size: 22px;
}

h2
{
    padding: 15px  0 ;
}
.container img
{
    width: 25px;
}